.container{
  width: 30vw;
  border-radius: 10px;
  display: flex;
  margin: 1%;
  background-color: whitesmoke;
  
}

.container:hover{

  width: 100%;
  cursor: pointer;
}
.left{
  flex: 1;
}

.right{
  flex: 1;
  margin-left: 15px;
}

.left img{
  position:relative ;
  width: 100%;
  height: 350px;
  padding: 10px;
}

.top{
  display: flex;
  justify-content: space-between;
}
.right h1{
  color: blue;
  text-align: center;
}
.top p{
  color: green;
  font-weight: bold;
}
.stat{
  display: flex;
  justify-content: space-between;
}

button{
  color: white;
  background-color: blue;
  font-weight: bolder;
  border: none;
  font-size:x-large;
  width: 8vw;
  height: 5vh;
}

button:hover{
  cursor: pointer;
  width: 9vw;
  height: 6vh;
}